/* 
    #e4802c (orange)
    #4e4e4e (gris foncé)
    #3a3a3a (gris clair)
*/

.custom-font-color {
    color: #4e4e4e;
}

img#logo {
    height: 50px;
}

nav {
    background-color: #e4802c;
}

a {
    text-decoration: none;
}

a#navbarDropdown {
    font-weight: 600;
    text-transform: uppercase;
    color: #4e4e4e;
}

button#btn-submit {
    background-color: #4e4e4e;
    color: #ffffff;
}

.form-search, ul.navbar-nav {
    width: 100%;
}

.menu {
    flex: 0 0 33%;
}

.menu[:last-child]{
    flex: 0 0 20%;
}

.nav-title {
    text-transform: uppercase;
    color: #4e4e4e;
    font-style: italic;
}

.btn.btn-block.btn-signup {
    background-color: #4e4e4e;
    color: #ffffff;
}

.btn.btn-block.btn-signup:hover {
    background-color: #e4802c;
}

.btn.btn-outline.btn-login {
    border: 1px solid #807a7a;
}

.btn.btn-outline.btn-login:hover {
    border: 1px solid transparent;
}

h1 {
    text-transform: uppercase;
}

