<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% if app.user %}
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
                <li><a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a></li>
            {% endif %}
        </nav>
        
        <div class="container-fluid">
        {% if app.user %}
        {% else %}
            <h2>Vous n'êtes pas connecté</h2>
        {% endif %}
        {% block body %}{% endblock %}
        </div>
    </body>
</html>