{% extends 'base.html.twig' %}

{% block title %}Modifier {{lien.lienTitre}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
        <h1 class="font-weight-normal text-center mb-4">Modifier le lien n°{{lien.id}}</h1>

        {{ include('lien/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="d-flex justify-content-center mt-4">
            {{ include('lien/_delete_form.html.twig') }}
        </div>
    </div>
</div> 
{% endblock %}
